server/api/api/__pycache__/__init__.cpython-38.pyc
server/api/api/__pycache__/settings.cpython-38.pyc
server/api/api/__pycache__/urls.cpython-38.pyc
server/api/api/__pycache__/wsgi.cpython-38.pyc
server/api/api/__pycache__/*